:root {
    --gray: #3d3d3d;
    --gray-light: #6f6f6f;
    --gray-lighter: #e1e1e1;
    --orange: #da552f;
}

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h3 {
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.no-style {
    all: unset;
}

.swal2-popup {
    font-size: 1.7rem !important;
}

.swal2-styled.swal2-default-outline:focus {
    box-shadow: 0 0 0 3px rgb(218 85 47 / 50%) !important;
}
